/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Header Styling */
h1 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

/* Store Description */
p {
    font-size: 16px;
    font-weight: normal;
}

/* Images */
.store-img {
    width: 320px;
    height: 320px;
    display: block;
    margin-top: 10px;
}

.store-logo {
    width: 200px;
    height: 200px;
    display: block;
    margin-top: 10px;
}

/* Categories Table */
.category-table {
    margin-top: 20px;
    text-align: left;  /* Align categories to the left */
    font-size: 18px;
    font-weight: bold;
    background-color: #f5f5f5;
}

.category-table th {
    padding: 10px;
    text-align: left;  /* Align text to the left */
}

.category-table a {
    text-decoration: none;
    color: black;
}

/* Footer */
footer {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}
